<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<!-- Modal -->
<div th:fragment="modal(id)" class="modal fade" th:id="${id}" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add your pet</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="issueForm" th:object="${issue}" th:action="@{/doctor/issue/create}" method="post">

                    <div>
                        <select class="form-select mb-3" th:field="*{pet}" id="issue-modal-pet" required>
                            <option value="" selected>Select pet</option>
                            <option th:each="pet : ${pets}" th:value="${pet.id}"
                                    th:text="${pet.id +': ' + pet.name}"></option>
                        </select>
                    </div>

                    <div>
                        <select class="form-select mb-3" th:field="*{doctor}" id="issue-modal-doctor" required>
                            <option value="" selected>Select doctor</option>
                            <option th:each="doctor : ${doctors}" th:value="${doctor.id}"
                                    th:text="${doctor.doctorSpecialization.name + ' - ' + doctor.user.email}"></option>
                        </select>
                    </div>

                    <div class="form-floating mb-3">
                        <textarea class="form-control" th:field="*{description}" id="issue-modal-description" rows="5"
                                  placeholder="Pet name"></textarea>
                        <label class="text-secondary" for="issue-modal-description">Issue description</label>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
