<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<!-- Modal -->
<div th:fragment="modal(id)" class="modal fade" th:id="${id}" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add your pet</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="petForm" th:object="${pet}" th:action="@{/user/pet/create}" method="post">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" th:field="*{name}" id="petName" placeholder="Pet name">
            <label class="text-secondary" for="petName">Pet name</label>
          </div>

          <select class="form-select" th:field="*{petType}" id="editPetType" required>
            <option value="" selected>Select pet Type</option>
            <option th:each="type : ${petTypes}" th:value="${type.id}"
                    th:text="${type.name}"></option>
          </select>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>
