<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Account</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css} "/>
    <link rel="stylesheet" th:href="@{/assets/table.css} "/>
<body>
<header th:replace="_fragments.html :: header"></header>
<div class="col-10 mx-auto" id="issuesTable">
    <div>
        <div id="doctorListContainer" th:classappend="${issuesList.isEmpty()} ? 'd-none' : ''">
            <div class="text-center my-3">
                <span> List of issues, click the button to add more </span>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#issueModal">
                    Add issue
                </button>
            </div>
            <table id="doctorTable" class="table table-striped">
                <thead>
                <tr class="fw-bold text-nowrap">
                    <td id="doctor-table-id" class="asc">Id</td>
                    <td id="doctor-table-doctor">Doctor</td>
                    <td id="doctor-table-doctorDoctorSpecialization">Doctor specialization</td>
                    <td id="doctor-table-petName">Pet name</td>
                    <td id="doctor-table-description">Issue description</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div id="issuesListEmptyContainer" th:classappend="${!issuesList.isEmpty()} ? 'd-none' : ''">
        <div class="text-center mt-5">
            Issues history is empty.
        </div>
        <div class="d-grid gap-2 mt-3">
            <button type="button" class="btn btn-primary mb-3 mx-auto" data-bs-toggle="modal"
                    data-bs-target="#issueModal">
                Add new issue
            </button>
        </div>
    </div>
</div>

<th:block th:replace="_issue-modal :: modal('issueModal')">modal</th:block>


<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/issue-modal.js}"></script>


</body>
</html>
