<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Account</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css} "/>
    <link rel="stylesheet" th:href="@{/css/login.css} "/>

<body>
<header th:replace="_fragments.html :: header"></header>
<!-- Tabs navs -->
<ul class="d-flex justify-content-center nav nav-tabs mb-3" id="tabs" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="tabs-tab-1" data-mdb-toggle="tab" href="#tabs-tabs-1" role="tab"
           aria-controls="tabs-tabs-1" aria-selected="false">
            My Pets
        </a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="tabs-tab-2" data-mdb-toggle="tab" href="#tabs-tabs-2" role="tab"
           aria-controls="tabs-tabs-2" aria-selected="false">
            My Pet Issues
        </a>
    </li>
</ul>
<!-- Tabs navs -->

<!-- Tabs content -->
<div class="tab-content" id="tabs-content">
    <div class="tab-pane col-6 mx-auto fade show active" id="tabs-tabs-1" role="tabpanel" aria-labelledby="tabs-tab-1">
        <div id="petsListContainer" th:classappend="${pets.isEmpty()} ? 'd-none' : ''">
            <div class="text-center my-3">
                <span> List of your pet, click the button to add more </span>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#petModal">
                    Add pet
                </button>
            </div>
            <table id="petsTable" class="table table-striped">
                <thead>
                <tr class="fw-bold">
                    <td>Id</td>
                    <td>Pet Name</td>
                    <td>Pet Type</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="pet: ${pets}">
                    <td class="pet-id" th:text="${pet.getId()}"></td>
                    <td class="pet-name" th:text="${pet.getName()}"></td>
                    <td class="pet-type" th:text="${pet.getPetType().getName()}"></td>
                    <td>
                        <button type="button" class="btn btn-primary" th:attr="data-bs-id=${pet.getId()},
                        data-bs-name=${pet.getName()}, data-bs-type=${pet.getPetType().getId()}" data-bs-toggle="modal"
                                data-bs-target="#petModal">
                            Edit
                        </button>
                        <button type="button" class="btn btn-danger" th:attr="data-bs-id=${pet.getId()}"
                                th:onclick="|deletePet('${pet.getId()}')|">
                            delete
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="noPetsMessageContainer" th:classappend="${!pets.isEmpty()} ? 'd-none' : ''">
            <div class="text-center mt-5">
                You don't have pets right now, but you can add them by clicking the button below
            </div>
            <div class="d-grid gap-2 mt-3">
                <button type="button" class="btn btn-primary mb-3 mx-auto"  data-bs-toggle="modal" data-bs-target="#petModal">
                    Add Pet
                </button>
            </div>
        </div>
    </div>
    <div class="tab-pane mt-5 fade" id="tabs-tabs-2" role="tabpanel" aria-labelledby="tabs-tab-2">
        <div>
            there will be a history of issues
        </div>
    </div>
</div>
<!-- Tabs content -->

<th:block th:replace="_pet-modals :: modal('petModal')">modal</th:block>

<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
<script th:src="@{/js/tabs.js}"></script>
<script th:src="@{/js/pet-modal.js}"></script>

</body>
</html>
